.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  align-items: start;
  background-color: #11121366;
  z-index: 1200;
}
