:root {
  --main-color: #101828;
  --text-color: #475467;
  --button-color: #E44848;
  --button-hover-color: #D84343;
  --rating-color: #FFC531;
  --block-features-color: #F2F4F7;
  --inputs-color: #F7F7F7;
}


