:root {
  --main-color: #101828;
  --main-light-color: #10182820;
  --text-color: #475467;
  --button-color: #e44848;
  --button-hover-color: #d84343;
  --rating-color: #ffc531;
  --block-features-color: #f2f4f7;
  --inputs-color: #f7f7f7;
  --white-color: #ffffff;
}
