@import-normalize; /* bring in normalize.css styles */
@import url('./css/variables.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--main-color);
  font-size: 16px;
  line-height: 1.5;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

a.active {
  color: var(--button-hover-color);
}

button.activated {
  border-color: var(--button-color);
}

.hidden {
  display: none;
}

button {
  border: none;
  background-color: transparent;
}
